.social {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.social-link {
  color: white;
  cursor: pointer;
}

.social-link:hover {
  color: rgb(94, 197, 154);
}

@media screen and (max-width: 500px) {
  .social {
    display: none;
  }
}
